@tailwind base;
@tailwind components;
@tailwind utilities;

/* e0dfdd */

:root {
  --port-shadow: #5b7b7a;
}

@layer base {
  :root {
    --background: #e0dfdd;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: #5b7b7a;
    --primary-foreground: 210 40% 98%;

    --secondary: #016fb9;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: #ff6f59;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: #5b7b7a;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --text: #161925;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  scroll-behavior: smooth;
}

@keyframes shadow-pop-tl-white {
  0% {
    box-shadow: 0 0 var(--background), 0 0 var(--background),
      0 0 var(--background), 0 0 var(--background), 0 0 var(--background),
      0 0 var(--background), 0 0 var(--background), 0 0 var(--background);
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: -1px -1px var(--background), -2px -2px var(--background),
      -3px -3px var(--background), -4px -4px var(--background),
      -5px -5px var(--background), -6px -6px var(--background),
      -7px -7px var(--background), -8px -8px var(--background);
    transform: translateX(8px) translateY(8px);
  }
}

@keyframes shadow-pop-rev-white {
  0% {
    box-shadow: -1px -1px var(--background), -2px -2px var(--background),
      -3px -3px var(--background), -4px -4px var(--background),
      -5px -5px var(--background), -6px -6px var(--background),
      -7px -7px var(--background), -8px -8px var(--background);
    transform: translateX(8px) translateY(8px);
  }
  100% {
    box-shadow: 0 0 var(--background), 0 0 #3e3e3e, 0 0 var(--background),
      0 0 var(--background), 0 0 var(--background), 0 0 var(--background),
      0 0 var(--background), 0 0 var(--background);
    transform: translateX(0) translateY(0);
  }
}

@keyframes shadow-pop-tl {
  0% {
    box-shadow: 0 0 var(--port-shadow), 0 0 var(--port-shadow),
      0 0 var(--port-shadow), 0 0 var(--port-shadow), 0 0 var(--port-shadow),
      0 0 var(--port-shadow), 0 0 var(--port-shadow), 0 0 var(--port-shadow);
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: -1px -1px var(--port-shadow), -2px -2px var(--port-shadow),
      -3px -3px var(--port-shadow), -4px -4px var(--port-shadow),
      -5px -5px var(--port-shadow), -6px -6px var(--port-shadow),
      -7px -7px var(--port-shadow), -8px -8px var(--port-shadow);
    transform: translateX(8px) translateY(8px);
  }
}

@keyframes shadow-pop-hov {
  0% {
    box-shadow: 0 0 var(--port-shadow), 0 0 var(--port-shadow),
      0 0 var(--port-shadow), 0 0 var(--port-shadow), 0 0 var(--port-shadow),
      0 0 var(--port-shadow), 0 0 var(--port-shadow), 0 0 var(--port-shadow);
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: -1px -1px var(--port-shadow), -2px -2px var(--port-shadow),
      -3px -3px var(--port-shadow), -4px -4px var(--port-shadow),
      -5px -5px var(--port-shadow), -6px -6px var(--port-shadow),
      -7px -7px var(--port-shadow), -8px -8px var(--port-shadow);
    transform: translateX(8px) translateY(8px);
  }
}

@keyframes shadow-pop-rev {
  0% {
    box-shadow: -1px -1px var(--port-shadow), -2px -2px var(--port-shadow),
      -3px -3px var(--port-shadow), -4px -4px var(--port-shadow),
      -5px -5px var(--port-shadow), -6px -6px var(--port-shadow),
      -7px -7px var(--port-shadow), -8px -8px var(--port-shadow);
    transform: translateX(8px) translateY(8px);
  }
  100% {
    box-shadow: 0 0 var(--port-shadow), 0 0 #3e3e3e, 0 0 var(--port-shadow),
      0 0 var(--port-shadow), 0 0 var(--port-shadow), 0 0 var(--port-shadow),
      0 0 var(--port-shadow), 0 0 var(--port-shadow);
    transform: translateX(0) translateY(0);
  }
}

.shadow-pop-tl {
  animation: shadow-pop-tl 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67) both;
}

.shadow-pop-tl:active {
  animation: shadow-pop-rev 0.7s cubic-bezier(0.17, 0.67, 0.83, 0.67) both;
}

@media (min-width: 740px) {
  .shadow-pop-tl:hover {
    background-color: #ff6f59;
  }
}

.shadow-pop-tl-white {
  animation: shadow-pop-tl-white 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67) both;
}

.shadow-pop-tl-white:active {
  animation: shadow-pop-rev-white 0.7s cubic-bezier(0.17, 0.67, 0.83, 0.67) both;
}

.scrollable-content::-webkit-scrollbar {
  display: none;
}

.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 64px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 30px;
}

section {
  padding-top: 85vh;
  padding-bottom: 85vh;
  position: relative;
}
